#app{
	margin:auto;
	height: 100vh;
	// max-width: 375px;
	background-color: #214E5B;
	position: relative;
  }


.page{
	height: calc(100vh - 100px);
	background-color: whitesmoke;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}